<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{ .Site.Title }} - {{ .Title }}</title>
</head>
<body>
	<a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
	<nav>
		<ul>
			{{ range .Site.RegularPages -}}
				<li><a href="{{ .Permalink }}">{{ block "page-list" . }}{{ end }}</a></li>
			{{- end }}
		</ul>
	</nav>
	<h2>{{ .Page.Title }}</h2>
	{{ .Content }}
	<footer>
		<a href="https://github.com/NilsIrl/tools">Source code</a>
		<p>&copy; 2021 <a href="https://www.nilsand.re/">Nils André</a></p>
	</footer>
</body>
</html>
